<!--bottom dock -->
<div class="dock_container">
  <a class="dock_item" href="#"><span>Home</span><%= image_tag("home.png") %></a> 
  <a class="dock_item" href="#"><span>Portfolio</span><%= image_tag("portfolio.png") %></a> 
  <a class="dock_item" href="#"><span>Music</span><%= image_tag("music.png") %></a> 
  <a class="dock_item" href="#"><span>Video</span><%= image_tag("video.png") %></a>
  <a class="dock_item" href="#"><span>History</span><%= image_tag("history.png") %></a> 
  <a class="dock_item" href="#"><span>Calendar</span><%= image_tag("calendar.png") %></a> 
  <a class="dock_item" href="#"><span>links</span><%= image_tag("link.png") %></a> 
 	
</div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>